:root {
    font-size: 16px;
    --color-green: #06c167;
    --color-grey: rgb(238, 238, 238);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: calc(100% - 120px);
    margin: auto;
}

header {
    .logo {
        h1 {
            font-weight: 300;
            span {
                font-weight: 600;
                color: var(--color-green);
            }
        }
    }
    .container {
    display: flex;
    align-items: center;
    }
    .searchBar {
        margin-left: auto;
    }
    .header-option {
        padding-left: 5rem;
        letter-spacing: 0.6px;
    }
    .currentDetails, 
    .searchBar {
        display: flex;
        
    }
}

.options {
    padding: 1.2rem 0;
    .options-btn {
        background: var(--color-grey);
        padding: 0.8rem 1.2rem;
        border-radius: 30px;
        border: 0;
        font-size: 1rem;
        letter-spacing: 0.6px;
        &.selected {
            background: black;
            color: white;
        }
    }
}